
h1 {
  align-self: start;
}



/* 
.filaTablero {
  float: left;
}

.columnaTablero {
  float: left;
}

.tablero {
  float: left;
}

.palabras {  
  float: left;
}

.limpiarFlotantes {
  clear: both;
}

.lista {
  float: left;
  margin-top: 5%;
}

.filaPalabras {
  text-decoration: none;
}

.filaPalabraAcertada {
  text-decoration:line-through;
}

.columnaPalabras {
  font-family: 'Courier New', Courier, monospace;
  font-size: 34px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 20px;
  margin-left: 5px;
}

.casilla {  
  border: 1px solid;  
  width: 45px;
  height: 45px;
  text-align: center;
}


.botonCasilla {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  color: black !important;
  font-size: 25px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  background: white;
  border: 2px solid;
  border-color: #318aac;
  position: relative; 
}

.botonCasilla:hover {
  color: white !important;
  background: rgba(117, 150, 222, 0.87);
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.1s ease;
  cursor: pointer; 
}

.botonCasilla.botonCasillaSeleccion {
  background: orange;
}

.botonCasilla.botonCasillaAcertada {
  background: #646cff;
}

.marcador {
  display: flex;
  max-width: 650px;
  padding: 5px;
}

.flex-item {
  background: burlywood;
  width: 33%;
  padding: 5px;
}

.aciertos {
}

.fallos {
}

.puntos {
} */




/* con grid-container */

:root {
  --dimensionTabX: 80;
  --dimensionTabY: 90;
  --dimensionX: 15; 
  --dimensionY: 13;
}


.grid-container {
    display: grid;
    grid-template-rows: repeat( var(--dimensionY), 1fr );
    grid-template-columns: repeat( var(--dimensionX), 1fr );
    border: 2px solid black;
    width: 80vh;
    height: 90vh;
    grid-gap: 3px 3px;
    text-align: center;
    

}


.grid-item {
    display: inline;
    border: 1px solid black !important;
    align-self: center;
    min-height: 35px;    
}